
div {
	font-family: Arial;
	font-size:16px;
	padding:4px;
	border-color:#000000; 
	border-bottom-style:solid; 
}

path {
	stroke-width: 1;
	fill: none;
}

svg {
  border:1px solid black;
}
.axis {
	font-size: 11px;
	fill: gray;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  stroke: #fafafa;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: lightgrey;
}